{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://cloudhsmv2.amazonaws.com/"
        },
        {
            "url": "http://cloudhsmv2.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "For more information about AWS CloudHSM, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a> and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>.",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS CloudHSM V2",
        "version": "2017-04-28",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cloudhsmv2-2017-04-28.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "cloudhsmv2"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/cloudhsmv2/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Copy an AWS CloudHSM cluster backup to a different region.",
                "operationId": "CopyBackupToRegion",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "DestinationBackup": {
                                            "description": "<p>Information on the backup that will be copied to the destination region, including CreateTimestamp, SourceBackup, SourceCluster, and Source Region. CreateTimestamp of the destination backup will be the same as that of the source backup.</p> <p>You will need to use the <code>sourceBackupID</code> returned in this operation to use the <a>DescribeBackups</a> operation on the backup that will be copied to the destination region.</p>",
                                            "properties": {
                                                "CreateTimestamp": {
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "SourceBackup": {
                                                    "pattern": "backup-[2-7a-zA-Z]{11,16}",
                                                    "type": "string"
                                                },
                                                "SourceCluster": {
                                                    "pattern": "cluster-[2-7a-zA-Z]{11,16}",
                                                    "type": "string"
                                                },
                                                "SourceRegion": {
                                                    "pattern": "[a-z]{2}(-(gov))?-(east|west|north|south|central){1,2}-\\d",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "CloudHsmInternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "CloudHsmServiceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "CloudHsmResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "CloudHsmInvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "CloudHsmAccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "BackupId": {
                                        "description": "The ID of the backup that will be copied to the destination region. ",
                                        "pattern": "backup-[2-7a-zA-Z]{11,16}",
                                        "type": "string"
                                    },
                                    "DestinationRegion": {
                                        "description": "The AWS region that will contain your copied CloudHSM cluster backup.",
                                        "pattern": "[a-z]{2}(-(gov))?-(east|west|north|south|central){1,2}-\\d",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "DestinationRegion",
                                    "BackupId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateCluster": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a new AWS CloudHSM cluster.",
                "operationId": "CreateCluster",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Cluster": {
                                            "description": "Information about the cluster that was created.",
                                            "properties": {
                                                "BackupPolicy": {
                                                    "description": "The cluster's backup policy.",
                                                    "enum": [
                                                        "DEFAULT"
                                                    ],
                                                    "type": "string"
                                                },
                                                "Certificates": {
                                                    "description": "Contains one or more certificates or a certificate signing request (CSR).",
                                                    "properties": {
                                                        "AwsHardwareCertificate": {
                                                            "description": "The HSM hardware certificate issued (signed) by AWS CloudHSM.",
                                                            "maxLength": 5000,
                                                            "pattern": "[a-zA-Z0-9+-/=\\s]*",
                                                            "type": "string"
                                                        },
                                                        "ClusterCertificate": {
                                                            "description": "The cluster certificate issued (signed) by the issuing certificate authority (CA) of the cluster's owner.",
                                                            "maxLength": 5000,
                                                            "pattern": "[a-zA-Z0-9+-/=\\s]*",
                                                            "type": "string"
                                                        },
                                                        "ClusterCsr": {
                                                            "description": "The cluster's certificate signing request (CSR). The CSR exists only when the cluster's state is <code>UNINITIALIZED</code>.",
                                                            "maxLength": 5000,
                                                            "pattern": "[a-zA-Z0-9+-/=\\s]*",
                                                            "type": "string"
                                                        },
                                                        "HsmCertificate": {
                                                            "description": "The HSM certificate issued (signed) by the HSM hardware.",
                                                            "maxLength": 5000,
                                                            "pattern": "[a-zA-Z0-9+-/=\\s]*",
                                                            "type": "string"
                                                        },
                                                        "ManufacturerHardwareCertificate": {
                                                            "description": "The HSM hardware certificate issued (signed) by the hardware manufacturer.",
                                                            "maxLength": 5000,
                                                            "pattern": "[a-zA-Z0-9+-/=\\s]*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "ClusterId": {
                                                    "description": "The cluster's identifier (ID).",
                                                    "pattern": "cluster-[2-7a-zA-Z]{11,16}",
                                                    "type": "string"
                                                },
                                                "CreateTimestamp": {
                                                    "description": "The date and time when the cluster was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "HsmType": {
                                                    "description": "The type of HSM that the cluster contains.",
                                                    "pattern": "(hsm1\\.medium)",
                                                    "type": "string"
                                                },
                                                "Hsms": {
                                                    "description": "Contains information about the HSMs in the cluster.",
                                                    "items": {
                                                        "description": "Contains information about a hardware security module (HSM) in an AWS CloudHSM cluster.",
                                                        "properties": {
                                                            "AvailabilityZone": {
                                                                "description": "The Availability Zone that contains the HSM.",
                                                                "pattern": "[a-z]{2}(-(gov))?-(east|west|north|south|central){1,2}-\\d[a-z]",
                                                                "type": "string"
                                                            },
                                                            "ClusterId": {
                                                                "description": "The identifier (ID) of the cluster that contains the HSM.",
                                                                "pattern": "cluster-[2-7a-zA-Z]{11,16}",
                                                                "type": "string"
                                                            },
                                                            "EniId": {
                                                                "description": "The identifier (ID) of the HSM's elastic network interface (ENI).",
                                                                "pattern": "eni-[0-9a-fA-F]{8,17}",
                                                                "type": "string"
                                                            },
                                                            "EniIp": {
                                                                "description": "The IP address of the HSM's elastic network interface (ENI).",
                                                                "pattern": "\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}",
                                                                "type": "string"
                                                            },
                                                            "HsmId": {
                                                                "description": "The HSM's identifier (ID).",
                                                                "pattern": "hsm-[2-7a-zA-Z]{11,16}",
                                                                "type": "string"
                                                            },
                                                            "State": {
                                                                "description": "The HSM's state.",
                                                                "enum": [
                                                                    "CREATE_IN_PROGRESS",
                                                                    "ACTIVE",
                                                                    "DEGRADED",
                                                                    "DELETE_IN_PROGRESS",
                                                                    "DELETED"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "StateMessage": {
                                                                "description": "A description of the HSM's state.",
                                                                "type": "string"
                                                            },
                                                            "SubnetId": {
                                                                "description": "The subnet that contains the HSM's elastic network interface (ENI).",
                                                                "pattern": "subnet-[0-9a-fA-F]{8,17}",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "HsmId"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "PreCoPassword": {
                                                    "description": "The default password for the cluster's Pre-Crypto Officer (PRECO) user.",
                                                    "maxLength": 32,
                                                    "minLength": 7,
                                                    "type": "string"
                                                },
                                                "SecurityGroup": {
                                                    "description": "The identifier (ID) of the cluster's security group.",
                                                    "pattern": "sg-[0-9a-fA-F]",
                                                    "type": "string"
                                                },
                                                "SourceBackupId": {
                                                    "description": "The identifier (ID) of the backup used to create the cluster. This value exists only when the cluster was created from a backup.",
                                                    "pattern": "backup-[2-7a-zA-Z]{11,16}",
                                                    "type": "string"
                                                },
                                                "State": {
                                                    "description": "The cluster's state.",
                                                    "enum": [
                                                        "CREATE_IN_PROGRESS",
                                                        "UNINITIALIZED",
                                                        "INITIALIZE_IN_PROGRESS",
                                                        "INITIALIZED",
                                                        "ACTIVE",
                                                        "UPDATE_IN_PROGRESS",
                                                        "DELETE_IN_PROGRESS",
                                                        "DELETED",
                                                        "DEGRADED"
                                                    ],
                                                    "type": "string"
                                                },
                                                "StateMessage": {
                                                    "description": "A description of the cluster's state.",
                                                    "maxLength": 300,
                                                    "pattern": ".*",
                                                    "type": "string"
                                                },
                                                "SubnetMapping": {
                                                    "description": "A map of the cluster's subnets and their corresponding Availability Zones.",
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "pattern": "[a-z]{2}(-(gov))?-(east|west|north|south|central){1,2}-\\d[a-z]",
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "pattern": "subnet-[0-9a-fA-F]{8,17}",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "VpcId": {
                                                    "description": "The identifier (ID) of the virtual private cloud (VPC) that contains the cluster.",
                                                    "pattern": "vpc-[0-9a-fA-F]",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "CloudHsmInternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "CloudHsmServiceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "CloudHsmResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "CloudHsmInvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "CloudHsmAccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "HsmType": {
                                        "description": "The type of HSM to use in the cluster. Currently the only allowed value is <code>hsm1.medium</code>.",
                                        "pattern": "(hsm1\\.medium)",
                                        "type": "string"
                                    },
                                    "SourceBackupId": {
                                        "description": "The identifier (ID) of the cluster backup to restore. Use this value to restore the cluster from a backup instead of creating a new cluster. To find the backup ID, use <a>DescribeBackups</a>.",
                                        "pattern": "backup-[2-7a-zA-Z]{11,16}",
                                        "type": "string"
                                    },
                                    "SubnetIds": {
                                        "description": "<p>The identifiers (IDs) of the subnets where you are creating the cluster. You must specify at least one subnet. If you specify multiple subnets, they must meet the following criteria:</p> <ul> <li> <p>All subnets must be in the same virtual private cloud (VPC).</p> </li> <li> <p>You can specify only one subnet per Availability Zone.</p> </li> </ul>",
                                        "items": {
                                            "pattern": "subnet-[0-9a-fA-F]{8,17}",
                                            "type": "string"
                                        },
                                        "maxItems": 10,
                                        "minItems": 1,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "SubnetIds",
                                    "HsmType"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateHsm": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a new hardware security module (HSM) in the specified AWS CloudHSM cluster.",
                "operationId": "CreateHsm",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Hsm": {
                                            "description": "Information about the HSM that was created.",
                                            "properties": {
                                                "AvailabilityZone": {
                                                    "description": "The Availability Zone that contains the HSM.",
                                                    "pattern": "[a-z]{2}(-(gov))?-(east|west|north|south|central){1,2}-\\d[a-z]",
                                                    "type": "string"
                                                },
                                                "ClusterId": {
                                                    "description": "The identifier (ID) of the cluster that contains the HSM.",
                                                    "pattern": "cluster-[2-7a-zA-Z]{11,16}",
                                                    "type": "string"
                                                },
                                                "EniId": {
                                                    "description": "The identifier (ID) of the HSM's elastic network interface (ENI).",
                                                    "pattern": "eni-[0-9a-fA-F]{8,17}",
                                                    "type": "string"
                                                },
                                                "EniIp": {
                                                    "description": "The IP address of the HSM's elastic network interface (ENI).",
                                                    "pattern": "\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}",
                                                    "type": "string"
                                                },
                                                "HsmId": {
                                                    "description": "The HSM's identifier (ID).",
                                                    "pattern": "hsm-[2-7a-zA-Z]{11,16}",
                                                    "type": "string"
                                                },
                                                "State": {
                                                    "description": "The HSM's state.",
                                                    "enum": [
                                                        "CREATE_IN_PROGRESS",
                                                        "ACTIVE",
                                                        "DEGRADED",
                                                        "DELETE_IN_PROGRESS",
                                                        "DELETED"
                                                    ],
                                                    "type": "string"
                                                },
                                                "StateMessage": {
                                                    "description": "A description of the HSM's state.",
                                                    "type": "string"
                                                },
                                                "SubnetId": {
                                                    "description": "The subnet that contains the HSM's elastic network interface (ENI).",
                                                    "pattern": "subnet-[0-9a-fA-F]{8,17}",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "HsmId"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "CloudHsmInternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "CloudHsmServiceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "CloudHsmInvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "CloudHsmResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "CloudHsmAccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "AvailabilityZone": {
                                        "description": "The Availability Zone where you are creating the HSM. To find the cluster's Availability Zones, use <a>DescribeClusters</a>.",
                                        "pattern": "[a-z]{2}(-(gov))?-(east|west|north|south|central){1,2}-\\d[a-z]",
                                        "type": "string"
                                    },
                                    "ClusterId": {
                                        "description": "The identifier (ID) of the HSM's cluster. To find the cluster ID, use <a>DescribeClusters</a>.",
                                        "pattern": "cluster-[2-7a-zA-Z]{11,16}",
                                        "type": "string"
                                    },
                                    "IpAddress": {
                                        "description": "The HSM's IP address. If you specify an IP address, use an available address from the subnet that maps to the Availability Zone where you are creating the HSM. If you don't specify an IP address, one is chosen for you from that subnet.",
                                        "pattern": "\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ClusterId",
                                    "AvailabilityZone"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteBackup": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes a specified AWS CloudHSM backup. A backup can be restored up to 7 days after the DeleteBackup request. For more information on restoring a backup, see <a>RestoreBackup</a> ",
                "operationId": "DeleteBackup",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Backup": {
                                            "description": "Information on the <code>Backup</code> object deleted.",
                                            "properties": {
                                                "BackupId": {
                                                    "description": "The identifier (ID) of the backup.",
                                                    "pattern": "backup-[2-7a-zA-Z]{11,16}",
                                                    "type": "string"
                                                },
                                                "BackupState": {
                                                    "description": "The state of the backup.",
                                                    "enum": [
                                                        "CREATE_IN_PROGRESS",
                                                        "READY",
                                                        "DELETED",
                                                        "PENDING_DELETION"
                                                    ],
                                                    "type": "string"
                                                },
                                                "ClusterId": {
                                                    "description": "The identifier (ID) of the cluster that was backed up.",
                                                    "pattern": "cluster-[2-7a-zA-Z]{11,16}",
                                                    "type": "string"
                                                },
                                                "CopyTimestamp": {
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "CreateTimestamp": {
                                                    "description": "The date and time when the backup was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "DeleteTimestamp": {
                                                    "description": "The date and time when the backup will be permanently deleted.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "SourceBackup": {
                                                    "pattern": "backup-[2-7a-zA-Z]{11,16}",
                                                    "type": "string"
                                                },
                                                "SourceCluster": {
                                                    "pattern": "cluster-[2-7a-zA-Z]{11,16}",
                                                    "type": "string"
                                                },
                                                "SourceRegion": {
                                                    "pattern": "[a-z]{2}(-(gov))?-(east|west|north|south|central){1,2}-\\d",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "BackupId"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "CloudHsmInternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "CloudHsmServiceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "CloudHsmResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "CloudHsmInvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "CloudHsmAccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "BackupId": {
                                        "description": "The ID of the backup to be deleted. To find the ID of a backup, use the <a>DescribeBackups</a> operation.",
                                        "pattern": "backup-[2-7a-zA-Z]{11,16}",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "BackupId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteCluster": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes the specified AWS CloudHSM cluster. Before you can delete a cluster, you must delete all HSMs in the cluster. To see if the cluster contains any HSMs, use <a>DescribeClusters</a>. To delete an HSM, use <a>DeleteHsm</a>.",
                "operationId": "DeleteCluster",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Cluster": {
                                            "description": "Information about the cluster that was deleted.",
                                            "properties": {
                                                "BackupPolicy": {
                                                    "description": "The cluster's backup policy.",
                                                    "enum": [
                                                        "DEFAULT"
                                                    ],
                                                    "type": "string"
                                                },
                                                "Certificates": {
                                                    "description": "Contains one or more certificates or a certificate signing request (CSR).",
                                                    "properties": {
                                                        "AwsHardwareCertificate": {
                                                            "description": "The HSM hardware certificate issued (signed) by AWS CloudHSM.",
                                                            "maxLength": 5000,
                                                            "pattern": "[a-zA-Z0-9+-/=\\s]*",
                                                            "type": "string"
                                                        },
                                                        "ClusterCertificate": {
                                                            "description": "The cluster certificate issued (signed) by the issuing certificate authority (CA) of the cluster's owner.",
                                                            "maxLength": 5000,
                                                            "pattern": "[a-zA-Z0-9+-/=\\s]*",
                                                            "type": "string"
                                                        },
                                                        "ClusterCsr": {
                                                            "description": "The cluster's certificate signing request (CSR). The CSR exists only when the cluster's state is <code>UNINITIALIZED</code>.",
                                                            "maxLength": 5000,
                                                            "pattern": "[a-zA-Z0-9+-/=\\s]*",
                                                            "type": "string"
                                                        },
                                                        "HsmCertificate": {
                                                            "description": "The HSM certificate issued (signed) by the HSM hardware.",
                                                            "maxLength": 5000,
                                                            "pattern": "[a-zA-Z0-9+-/=\\s]*",
                                                            "type": "string"
                                                        },
                                                        "ManufacturerHardwareCertificate": {
                                                            "description": "The HSM hardware certificate issued (signed) by the hardware manufacturer.",
                                                            "maxLength": 5000,
                                                            "pattern": "[a-zA-Z0-9+-/=\\s]*",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "ClusterId": {
                                                    "description": "The cluster's identifier (ID).",
                                                    "pattern": "cluster-[2-7a-zA-Z]{11,16}",
                                                    "type": "string"
                                                },
                                                "CreateTimestamp": {
                                                    "description": "The date and time when the cluster was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "HsmType": {
                                                    "description": "The type of HSM that the cluster contains.",
                                                    "pattern": "(hsm1\\.medium)",
                                                    "type": "string"
                                                },
                                                "Hsms": {
                                                    "description": "Contains information about the HSMs in the cluster.",
                                                    "items": {
                                                        "description": "Contains information about a hardware security module (HSM) in an AWS CloudHSM cluster.",
                                                        "properties": {
                                                            "AvailabilityZone": {
                                                                "description": "The Availability Zone that contains the HSM.",
                                                                "pattern": "[a-z]{2}(-(gov))?-(east|west|north|south|central){1,2}-\\d[a-z]",
                                                                "type": "string"
                                                            },
                                                            "ClusterId": {
                                                                "description": "The identifier (ID) of the cluster that contains the HSM.",
                                                                "pattern": "cluster-[2-7a-zA-Z]{11,16}",
                                                                "type": "string"
                                                            },
                                                            "EniId": {
                                                                "description": "The identifier (ID) of the HSM's elastic network interface (ENI).",
                                                                "pattern": "eni-[0-9a-fA-F]{8,17}",
                                                                "type": "string"
                                                            },
                                                            "EniIp": {
                                                                "description": "The IP address of the HSM's elastic network interface (ENI).",
                                                                "pattern": "\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}",
                                                                "type": "string"
                                                            },
                                                            "HsmId": {
                                                                "description": "The HSM's identifier (ID).",
                                                                "pattern": "hsm-[2-7a-zA-Z]{11,16}",
                                                                "type": "string"
                                                            },
                                                            "State": {
                                                                "description": "The HSM's state.",
                                                                "enum": [
                                                                    "CREATE_IN_PROGRESS",
                                                                    "ACTIVE",
                                                                    "DEGRADED",
                                                                    "DELETE_IN_PROGRESS",
                                                                    "DELETED"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "StateMessage": {
                                                                "description": "A description of the HSM's state.",
                                                                "type": "string"
                                                            },
                                                            "SubnetId": {
                                                                "description": "The subnet that contains the HSM's elastic network interface (ENI).",
                                                                "pattern": "subnet-[0-9a-fA-F]{8,17}",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "HsmId"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "PreCoPassword": {
                                                    "description": "The default password for the cluster's Pre-Crypto Officer (PRECO) user.",
                                                    "maxLength": 32,
                                                    "minLength": 7,
                                                    "type": "string"
                                                },
                                                "SecurityGroup": {
                                                    "description": "The identifier (ID) of the cluster's security group.",
                                                    "pattern": "sg-[0-9a-fA-F]",
                                                    "type": "string"
                                                },
                                                "SourceBackupId": {
                                                    "description": "The identifier (ID) of the backup used to create the cluster. This value exists only when the cluster was created from a backup.",
                                                    "pattern": "backup-[2-7a-zA-Z]{11,16}",
                                                    "type": "string"
                                                },
                                                "State": {
                                                    "description": "The cluster's state.",
                                                    "enum": [
                                                        "CREATE_IN_PROGRESS",
                                                        "UNINITIALIZED",
                                                        "INITIALIZE_IN_PROGRESS",
                                                        "INITIALIZED",
                                                        "ACTIVE",
                                                        "UPDATE_IN_PROGRESS",
                                                        "DELETE_IN_PROGRESS",
                                                        "DELETED",
                                                        "DEGRADED"
                                                    ],
                                                    "type": "string"
                                                },
                                                "StateMessage": {
                                                    "description": "A description of the cluster's state.",
                                                    "maxLength": 300,
                                                    "pattern": ".*",
                                                    "type": "string"
                                                },
                                                "SubnetMapping": {
                                                    "description": "A map of the cluster's subnets and their corresponding Availability Zones.",
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "pattern": "[a-z]{2}(-(gov))?-(east|west|north|south|central){1,2}-\\d[a-z]",
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "pattern": "subnet-[0-9a-fA-F]{8,17}",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "VpcId": {
                                                    "description": "The identifier (ID) of the virtual private cloud (VPC) that contains the cluster.",
                                                    "pattern": "vpc-[0-9a-fA-F]",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "CloudHsmInternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "CloudHsmServiceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "CloudHsmResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "CloudHsmInvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "CloudHsmAccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ClusterId": {
                                        "description": "The identifier (ID) of the cluster that you are deleting. To find the cluster ID, use <a>DescribeClusters</a>.",
                                        "pattern": "cluster-[2-7a-zA-Z]{11,16}",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ClusterId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteHsm": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes the specified HSM. To specify an HSM, you can use its identifier (ID), the IP address of the HSM's elastic network interface (ENI), or the ID of the HSM's ENI. You need to specify only one of these values. To find these values, use <a>DescribeClusters</a>.",
                "operationId": "DeleteHsm",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "HsmId": {
                                            "description": "The identifier (ID) of the HSM that was deleted.",
                                            "pattern": "hsm-[2-7a-zA-Z]{11,16}",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "CloudHsmInternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "CloudHsmServiceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "CloudHsmResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "CloudHsmInvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "CloudHsmAccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ClusterId": {
                                        "description": "The identifier (ID) of the cluster that contains the HSM that you are deleting.",
                                        "pattern": "cluster-[2-7a-zA-Z]{11,16}",
                                        "type": "string"
                                    },
                                    "EniId": {
                                        "description": "The identifier (ID) of the elastic network interface (ENI) of the HSM that you are deleting.",
                                        "pattern": "eni-[0-9a-fA-F]{8,17}",
                                        "type": "string"
                                    },
                                    "EniIp": {
                                        "description": "The IP address of the elastic network interface (ENI) of the HSM that you are deleting.",
                                        "pattern": "\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}",
                                        "type": "string"
                                    },
                                    "HsmId": {
                                        "description": "The identifier (ID) of the HSM that you are deleting.",
                                        "pattern": "hsm-[2-7a-zA-Z]{11,16}",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ClusterId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeBackups": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Gets information about backups of AWS CloudHSM clusters.</p> <p>This is a paginated operation, which means that each response might contain only a subset of all the backups. When the response contains only a subset of backups, it includes a <code>NextToken</code> value. Use this value in a subsequent <code>DescribeBackups</code> request to get more backups. When you receive a response with no <code>NextToken</code> (or an empty or null value), that means there are no more backups to get.</p>",
                "operationId": "DescribeBackups",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "MaxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "NextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Backups": {
                                            "description": "A list of backups.",
                                            "items": {
                                                "description": "Contains information about a backup of an AWS CloudHSM cluster.",
                                                "properties": {
                                                    "BackupId": {
                                                        "description": "The identifier (ID) of the backup.",
                                                        "pattern": "backup-[2-7a-zA-Z]{11,16}",
                                                        "type": "string"
                                                    },
                                                    "BackupState": {
                                                        "description": "The state of the backup.",
                                                        "enum": [
                                                            "CREATE_IN_PROGRESS",
                                                            "READY",
                                                            "DELETED",
                                                            "PENDING_DELETION"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "ClusterId": {
                                                        "description": "The identifier (ID) of the cluster that was backed up.",
                                                        "pattern": "cluster-[2-7a-zA-Z]{11,16}",
                                                        "type": "string"
                                                    },
                                                    "CopyTimestamp": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "CreateTimestamp": {
                                                        "description": "The date and time when the backup was created.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "DeleteTimestamp": {
                                                        "description": "The date and time when the backup will be permanently deleted.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "SourceBackup": {
                                                        "pattern": "backup-[2-7a-zA-Z]{11,16}",
                                                        "type": "string"
                                                    },
                                                    "SourceCluster": {
                                                        "pattern": "cluster-[2-7a-zA-Z]{11,16}",
                                                        "type": "string"
                                                    },
                                                    "SourceRegion": {
                                                        "pattern": "[a-z]{2}(-(gov))?-(east|west|north|south|central){1,2}-\\d",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "BackupId"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "NextToken": {
                                            "description": "An opaque string that indicates that the response contains only a subset of backups. Use this value in a subsequent <code>DescribeBackups</code> request to get more backups.",
                                            "maxLength": 256,
                                            "pattern": ".*",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "CloudHsmInternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "CloudHsmServiceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "CloudHsmResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "CloudHsmInvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "CloudHsmAccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Filters": {
                                        "description": "<p>One or more filters to limit the items returned in the response.</p> <p>Use the <code>backupIds</code> filter to return only the specified backups. Specify backups by their backup identifier (ID).</p> <p>Use the <code>sourceBackupIds</code> filter to return only the backups created from a source backup. The <code>sourceBackupID</code> of a source backup is returned by the <a>CopyBackupToRegion</a> operation.</p> <p>Use the <code>clusterIds</code> filter to return only the backups for the specified clusters. Specify clusters by their cluster identifier (ID).</p> <p>Use the <code>states</code> filter to return only backups that match the specified state.</p>",
                                        "items": {
                                            "properties": {
                                                "key": {
                                                    "pattern": "[a-zA-Z0-9_-]+",
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "MaxResults": {
                                        "description": "The maximum number of backups to return in the response. When there are more backups than the number you specify, the response contains a <code>NextToken</code> value.",
                                        "maximum": 100,
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "NextToken": {
                                        "description": "The <code>NextToken</code> value that you received in the previous response. Use this value to get more backups.",
                                        "maxLength": 256,
                                        "pattern": ".*",
                                        "type": "string"
                                    },
                                    "SortAscending": {
                                        "type": "boolean"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeClusters": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Gets information about AWS CloudHSM clusters.</p> <p>This is a paginated operation, which means that each response might contain only a subset of all the clusters. When the response contains only a subset of clusters, it includes a <code>NextToken</code> value. Use this value in a subsequent <code>DescribeClusters</code> request to get more clusters. When you receive a response with no <code>NextToken</code> (or an empty or null value), that means there are no more clusters to get.</p>",
                "operationId": "DescribeClusters",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "MaxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "NextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Clusters": {
                                            "description": "A list of clusters.",
                                            "items": {
                                                "description": "Contains information about an AWS CloudHSM cluster.",
                                                "properties": {
                                                    "BackupPolicy": {
                                                        "description": "The cluster's backup policy.",
                                                        "enum": [
                                                            "DEFAULT"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "Certificates": {
                                                        "description": "Contains one or more certificates or a certificate signing request (CSR).",
                                                        "properties": {
                                                            "AwsHardwareCertificate": {
                                                                "description": "The HSM hardware certificate issued (signed) by AWS CloudHSM.",
                                                                "maxLength": 5000,
                                                                "pattern": "[a-zA-Z0-9+-/=\\s]*",
                                                                "type": "string"
                                                            },
                                                            "ClusterCertificate": {
                                                                "description": "The cluster certificate issued (signed) by the issuing certificate authority (CA) of the cluster's owner.",
                                                                "maxLength": 5000,
                                                                "pattern": "[a-zA-Z0-9+-/=\\s]*",
                                                                "type": "string"
                                                            },
                                                            "ClusterCsr": {
                                                                "description": "The cluster's certificate signing request (CSR). The CSR exists only when the cluster's state is <code>UNINITIALIZED</code>.",
[...]
